.selectitempanal{
	background-color: #D2D2D2;
	width:300px;
	
	
}
.pricelabel{
	background-color: #ECECEC;
	width:150px;
	height: 30px;
}
.additempanal{
	background-color: #D2D2D2;
	width: 940px;
	margin-left: 72px;
}
.filters{
	background-color: #D2D2D2;
	width: 1050px;
	margin-left: 22px;
}
